<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">&copy;
            <span id="copyrightYear"></span>
            Chibueze Anakor
        </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <a href="{{ site.linkedin_url }}" role="button" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin">
                        <span class="visuallyhidden">LinkedIn</span>
                    </button>
                </a>
            </li>
            <li>
                <a rel="me" href="https://{{ site.social_web_server }}/@{{ site.social_web_username }}" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__mastodon">
                        <span class="visuallyhidden">Mastodon</span>
                    </button>
                </a>
            </li>
            <li>
                <a href="https://www.github.com/{{ site.github_username }}" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__github">
                        <span class="visuallyhidden">GitHub</span>
                    </button>
                </a>
            </li>
            <li>
                <a href="https://www.gitlab.com/{{ site.gitlab_username }}" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__gitlab">
                        <span class="visuallyhidden">GitLab</span>
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <script type="importmap">
        {
          "imports": {
            "romanNumeralConverter": "/assets/js/intToRomanNumerals.js"
          }
        }
      </script>
    <script type="module" src="{{ site.url }}/assets/js/copyrightScript.js" type="text/javascript"></script>
</footer>
